{% load staticfiles %}
{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Custom styles for this template -->
    <link href="{% static "css/blogTemp.css" %}" rel="stylesheet">
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="nav">

          <a class="nav-link active" href="{% url "blog:post_list" %}">home</a>
          <!--<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>-->
          <a class="nav-link" href="{% url "blog:latest_post" %}">new post</a>
          <a class="nav-link" href="{% url "blog:download" %}">
            <i class="fa fa-download" aria-hidden="true">downloads</i>
          </a>
          <a class="nav-link" href="{% url "blog:about" %}">
          <i class="fa fa-users" aria-hidden="true"></i>
          about
          </a>
          <a class="nav-link" href="{% url "blog:latest_post" %}">
          <i class="fa fa-star" aria-hidden="true"></i>
          archive</a>
          <a class="nav-link " href="#">
            <i class="fa fa-user" aria-hidden="true">contact us</i>
          </a>
          <a class="nav-link" href="#">

            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a class="nav-link" href="#">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a class="nav-link" href="#">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
          </a>

        </nav>

      </div>
    </div>


    <div class="container-fluid cont">

    <center>
      <img src="{% static "images/pm.jpg" %}">
    </center>

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>powered by <a href="https://github.com/alaniomotosho2">Mustapha</a>
      <i class="fa fa-github" aria-hidden="true"></i>

      </p>
        <a href="#">Back to top</a>
      </p>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
     <link href="{% static "css/blogTemp.css" %}" rel="stylesheet">
    <script src="{% static "js/popper.min.js" %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
