{% extends "blog/baseTemp.html" %}
{% load blog_tags %}
{% load staticfiles %}

{% block title %}My Blog{% endblock %}




{% block content %}
    <center>
    <p style="font-size:40px" class="display-4 text-center font-italic">Downloads</p>
        <ul>
        {% for download in downloads %}
            <li>
            <i class="fa fa-download" aria-hidden="true"></i>
            <a href="{{download.filee.url }}">{{download.comments}}</a>
            </li>
        {% endfor %}
        </ul>
    </center>
    
{% endblock %}