{% extends "blog/baseTemp.html" %}
{% load crispy_forms_tags %}
{% load blog_tags %}
{% load staticfiles %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<p style="font-size:40px;color:#696969;;" class="display-4  font-italic">{{ post.title }}</p>
<p class="date">
Published {{ post.publish }} by {{ post.author }}
<div class="well">
</p>
{{ post.body|markdown }}
<p>
</div>
<a href="{% url "blog:post_share" post.id %}">
Share this post
</a>
</p>

{% with comments.count as total_comments %}
<h2 style="color:#696969;font-size:30px;" class="display-4  font-italic">
{{ total_comments }} comment{{ total_comments|pluralize }}
</h2>
{% endwith %}






<div class="alert alert-secondary" role="alert">
  

{% for comment in comments %}
<div style="color:#333;" class="comment">
<p class="text-info  cmt">
Comment {{ forloop.counter }} by {{ comment.name }}
{{ comment.created }}
</p>
<p style="word-wrap: break-word;" class="text-justify">
{{ comment.body|linebreaks }}
</p>

</div>
{% empty %}
<p  class="cmt">There are no comments yet.</p>
{% endfor %}




</div>




{% if new_comment %}
<h2 class="text-info cmt">Your comment has been added.</h2>
{% else %}
<h2 style="color:#696969;font-size:30px;" class="display-4  font-italic">Add a new comment<i class="fa fa-commenting-o" aria-hidden="true"></i>
</h2>
<!--fix here later-->
<form action="." method="post">
{% csrf_token %}
{{ comment_form|crispy }}
<!--{{ comment_form.as_p }}-->
<p><input style="cursor:pointer" type="submit" class="btn btn-secondary"btn-lg" value="Add Comment"> </p>
</form>
{% endif %}


{% endblock %}
