{% extends "blog/baseTemp.html" %}
{% load blog_tags %}
{% load staticfiles %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<h3 style="color:#00abff;">{{ post.title }}</h4>
<p class="date">
Published {{ post.publish }} by {{ post.author }}
<div class="well">
</p>
{{ post.body|markdown }}
<p>
</div>
<a href="{% url "blog:post_share" post.id %}">
Share this post
</a>
</p>

{% with comments.count as total_comments %}
<h2 class="cmtHead">
{{ total_comments }} comment{{ total_comments|pluralize }}
</h2>
{% endwith %}






<div class="alert alert-secondary" role="alert">
  

{% for comment in comments %}
<div class="comment">
<p class="info">
Comment {{ forloop.counter }} by {{ comment.name }}
{{ comment.created }}
</p>
{{ comment.body|linebreaks }}
</div>
{% empty %}
<p class="cmt">There are no comments yet.</p>
{% endfor %}




</div>





{% if new_comment %}
<h2 class="cmt">Your comment has been added.</h2>
{% else %}
<h2 class="cmt">Add a new comment<i class="fa fa-commenting-o" aria-hidden="true"></i>
</h2>
<form action="." method="post">
{{ comment_form.as_p }}
{% csrf_token %}
<p><input style="cursor:pointer" type="submit" class="btn btn-info btn-lg" value="Add Comment"> </p>
</form>
{% endif %}


{% endblock %}
